/* Header 03/10 */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


footer{
    padding-top: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
h2{
    padding-left: 20px;
}
.Adresse {
    width: 200px;
    align-items: center;
    text-align: center;
}
/* .A_propos {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
h3 {
    text-align: center;
}
.Container_footer {
    display: flex;
    justify-content: space-around;
    background-color: #8BA9A9;
    color: black;
}
a :hover {
    filter:;
    invert(50%)-webkit-filter:;
    -webkit-filter:invert();
}
